@charset "utf-8";

$red: #ff3333;

.edit-list {
  width: 1000px;
  margin: 0 auto;

  @media (max-width: 768px) {
    width: 95%;
    // width: 768px;
    margin-left: 20px;
  }

  @media (max-width: 320px) {
    width: 100%;
    // width: 768px;
    margin-left: 0px;
  }

  .error-message {
    color: $red;
  }

  @media (max-width: 320px) {
    text-align: center;
    margin-top: 17px;
  }

  .edit-list-form {
    color: #555555;
    @media (max-width: 320px) {
      text-align: left;
      margin-left: 7px;
    }

    .edit-list-title {
      width: 300px;
      margin-bottom: 25px;
    }

    .delete-list-button {
      color: $red;
      border: solid 1px $red;
      width: 80px;
      height: 40px;
      margin: 25px 5px;
      border-radius: 5px;
    }

    @media (max-width: 320px) {
      .delete-list-button {
        margin-left: 23%;
      }
    }

    .edit-list-button {
      background-color: #242f9b;
      color: #ffffff;
      width: 80px;
      height: 40px;
      border-radius: 5px;
    }
  }
}
