@charset "utf-8";

.new-list {
  width: 1000px;
  margin: 0 auto;

  @media (max-width: 768px) {
    width: 95%;
    // width: 768px;
    margin-left: 20px;
  }

  @media (max-width: 320px) {
    width: 100%;
    margin-left: 0px;
    text-align: center;
    margin-left: 7px;
  }

  .new-list-form {
    color: #555555;
    @media (max-width: 320px) {
      text-align: left;
    }

    .new-list-title {
      width: 300px;
      margin-bottom: 25px;
    }

    .new-list-button {
      background-color: #242f9b;
      color: #ffffff;
      width: 80px;
      height: 40px;
      border-radius: 5px;

      @media (max-width: 320px) {
        margin-left: 37%;
      }
    }
  }

  .error-message {
    color: #ff3333;
  }
}
